 

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    
    <div class="collapse navbar-collapse">
 
          <ul class="nav navbar-collapse">
            <li> <a class="nav-item nav-link" href="#">Recipes</a> </li>
            <li>  <a class="nav-item nav-link" href="#">shoping List</a> </li>
          </ul>

          <div class="dropdown-toggle" role='button'> Manage</div>

          <!-- <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <ul class="dropdown-menu">
                    <li> <a href="#"> Save Data </a> </li>
                    <li> <a href="#"> Fecth Data </a></li>
                </ul>
            </li>
          </ul> -->
          
    </div>
  </nav>