.mat-tab-label {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: red;
}

.mat-tab-label-active {
   color:green;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.mat-ink-bar {
  display: none;
}