
<div class="row">

    <div class="col-xs-12">
        <form action="">

            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control">
                </div>
            </div>

            <div class="row">
               
                <div class="col-xs-12">
               
                    <button type="submit" style= "margin-right: 4px;" class="btn btn-success">Add</button>
                    <button type="button" style= "margin-right: 4px;" class="btn btn-danger">Delete</button>
                    <button type="button" style= "margin-right: 4px;" class="btn btn-primary">Clear</button>
             
                 </div>
                    
            </div>

        </form>
</div>

</div>


